# fly.toml app configuration file generated for medusa-webapp on 2024-05-20T10:00:00-07:00

app = "medusa-webapp-prod"
primary_region = "sjc"

[build]
  dockerfile = "medusa-webapp/Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  cpus = 1
  memory = "512mb"

